#ghe{
    text-align: center;
    position: relative;
    top: 100px;
}

#gh{
    text-align: center;
    position: relative;
    top: 110px;
}

.ab{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.da{
    color: floralwhite;
}